.advantage {
  background-color: var(--main-bgc);
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantage__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.advantage__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.advantage__icon--wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;

  background: var(--third-bgc);
  border-radius: 4px;

  margin-bottom: 30px;
}

.advantage__icon {
  width: 70px;
  height: 70px;
}

.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);

  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
