.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  overflow-y: scroll;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 479px) {
    width: calc(100% - 30px);
    min-height: 609px;
  }

  @media screen and (max-width: 1199px) {
    width: calc(100% - 318px);
    min-height: 609px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    min-height: 581px;
  }

  padding: 40px;

  background-color: var(--main-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  padding: 6px;
  padding-left: 5px;
  border-radius: 50%;
  background-color: var(--main-bgc);
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

.modal__close:hover .modal__close-icon,
.modal__close:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--primary-text-color);
}
