.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.clients__item {
  @media screen and (max-width: 767px) {
    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (max-width: 1199px) {
    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
    flex-basis: calc((100% - 60px) / 3);
  }

  &:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}

.clients-link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--border-third-color);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--button-accent-bgc);
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.clients__icon {
  fill: var(--social-color);

  width: 106px;
  height: 60px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients-link:hover &,
  .clients-link:focus & {
    fill: var(--accent-color);
  }
}
