.footer {
  background-color: var(--additional-bgc);

  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (max-width: 479px) {
    text-align: center;
  }
}

.footer-container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.tablet-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer-info {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer-contact {
  font-style: inherit;

  margin-top: 20px;
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-text-color);
}

.join {
  width: 206px;
  height: 80px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  color: var(--third-text-color);

  text-transform: uppercase;

  margin-bottom: 20px;
}

.join__social-list {
  display: flex;
  justify-content: space-between;
}

.join__social-link {
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  padding: 12px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--button-accent-bgc);
  }
}

.join__social-icon {
  fill: var(--third-text-color);

  width: 20px;
  height: 20px;
}

.subscribe {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.subscribe__form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
  }
}

.subscribe__label {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
}

.subscribe__input {
  margin-top: 20px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--additional-bgc);

  padding: 15px 16px;
  outline: none;
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  background-color: var(--accent-color);
  color: var(--third-text-color);
}

.subscribe__icon {
  width: 24px;
  height: 24px;

  margin-left: 10px;
}
