.header {
  background-color: var(--main-bgc);

  border-bottom: 1px solid var(--border-color);
}

span {
  color: var(--accent-color);
  font-weight: 700;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrap {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  justify-content: end;
  align-items: center;
}

.navigation {
  @media screen and (min-width: 768px) {
    margin-left: 88px;
  }
}

.navigation__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.navigation__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.navigation__link {
  @media screen and (min-width: 1200px) {
    padding: 32px 0px;
  }
}

.contact-list {
  @media screen and (min-width: 768px) {
    margin-left: 84px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }

  color: var(--secondary-text-color);
}

.contact-list__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-list__link {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1200px) {
    padding: 32px 0px;
  }
}

.contact-list__icon {
  fill: var(--secondary-text-color);

  width: 16px;
  height: 12px;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contact-list__link:hover &,
  .contact-list__link:focus & {
    fill: var(--accent-color);
  }
}

.contact-list__icon--smartphone {
  width: 10px;
  height: 16px;
}
