.hero {
  background-color: var(--additional-bgc);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: var(--third-text-color);

  margin: 0;
}

.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--third-text-color);

  padding: 10px 32px;
  margin-top: 30px;
}
