.team {
  background-color: #f5f4fa;

  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;

  @media scren and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.expert {
  background-color: var(--main-bgc);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    @media screen and (max-width: 1200px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.expert__wrap {
  padding-top: 30px;
}

.expert__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);

  margin-bottom: 10px;
}

.expert__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.expert__social-list {
  display: flex;
  justify-content: center;

  padding-top: 16px;
  padding-bottom: 30px;
}

.expert__social-item:not(:last-child) {
  margin-right: 10px;
}

.expert__social-link {
  display: flex;
  width: 44px;
  height: 44px;

  padding: 12px;
  border-radius: 50%;

  transition: background-color 1250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--button-accent-bgc);
    border-radius: 50%;
  }
}

.expert__social-icon {
  fill: var(--social-color);

  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .expert__social-link:hover &,
  .expert__social-link:focus & {
    fill: var(--button-accent-color);
  }
}
