:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-bgc: #ffffff;
  --additional-bgc: #2f303a;
  --third-bgc: #f5f4fa;
  --button-bgc: #f5f4fa;
  --button-accent-bgc: #2196f3;
  --button-accent-color: #ffffff;
  --border-color: #ececec;
  --border-second-color: #eeeeee;
  --border-third-color: #afb1b8;
  --gradient-color: #c4c4c4;
  --social-color: #afb1b8;
}
